{
  "action" : "actions",
  "list" : [
    {
      "action" : "particle",
      "specification" : "gbbulletimpact1"
    },
    {
      "action" : "particle",
      "specification" : "gbbulletimpact1"
    },
    {
      "action" : "particle",
      "specification" : "gbbulletimpact1"
    },
    {
      "action" : "particle",
      "specification" : "gbbulletimpact2"
    },
    {
      "action" : "particle",
      "specification" : "gbbulletimpact2"
    },
    {
      "action" : "particle",
      "specification" : "gbbulletimpact2"
    },
    {
      "action" : "particle",
      "specification" : "gbbulletimpact3"
    }
  ]
}
